In [24]:
import pandas as pd
import requests
import json

In [29]:
""""url = "https://free-nba.p.rapidapi.com/players"
nb =1
querystring = {"page":str(nb),"per_page":"100"}

headers = {
    'x-rapidapi-host': "free-nba.p.rapidapi.com",
    'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
    }

response = requests.request("GET", url, headers=headers, params=querystring)
content = json.loads(response.content)

#print(content)
content['data']
df = pd.DataFrame(content['data'])""""

In [37]:
#content['data'][0]

{'id': 14,
 'first_name': 'Ike',
 'height_feet': None,
 'height_inches': None,
 'last_name': 'Anigbogu',
 'position': 'C',
 'team': {'id': 12,
  'abbreviation': 'IND',
  'city': 'Indiana',
  'conference': 'East',
  'division': 'Central',
  'full_name': 'Indiana Pacers',
  'name': 'Pacers'},
 'weight_pounds': None}

In [40]:
"""team = df['team'].to_list()
df2 = pd.DataFrame(team)"""

In [45]:
#df1 = df.drop('team',axis=1).copy()

In [60]:
#df2.rename(columns={'id':'team_id'},inplace=True)

In [62]:
#df3 = pd.concat([df1,df2],join='outer',axis=1)

In [68]:

def get_stats():
    url = "https://free-nba.p.rapidapi.com/players"
    nb = 1
    total = []
    while nb <= 38:
        headers = {
        'x-rapidapi-host': "free-nba.p.rapidapi.com",
        'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
        }
        querystring = {"page":str(nb),"per_page":"100"}
        response = requests.request("GET", url, headers=headers, params=querystring)
        content = json.loads(response.content)
        df = pd.DataFrame(content['data'])
        team = df['team'].to_list()
        df2 = pd.DataFrame(team)
        df2.rename(columns={'id':'team_id'},inplace=True)
        df = df.drop('team',axis=1)
        df3 = pd.concat([df,df2],join='outer',axis=1)
        total.append(df3)
        nb+=1

    return pd.concat([*total], ignore_index=True)

In [70]:
all_data = get_stats()

In [72]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3754 entries, 0 to 3753
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3754 non-null   int64
 1   first_name     3754 non-null   object
 2   height_feet    479 non-null    float64
 3   height_inches  479 non-null    float64
 4   last_name      3754 non-null   object
 5   position       3754 non-null   object
 6   weight_pounds  479 non-null    float64
 7   team_id        3754 non-null   int64
 8   abbreviation   3754 non-null   object
 9   city           3754 non-null   object
 10  conference     3754 non-null   object
 11  division       3754 non-null   object
 12  full_name      3754 non-null   object
 13  name           3754 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 410.7+ KB

In [73]:
some_data = all_data.dropna().copy()

In [74]:
some_data

,id,first_name,height_feet,height_inches,last_name,position,weight_pounds,team_id,abbreviation,city,conference,division,full_name,name
6,1,Alex,6.0,6.0,Abrines,G,200.0,21,OKC,Oklahoma City,West,Northwest,Oklahoma City Thunder,Thunder
11,241,Amir,6.0,9.0,Johnson,C-F,240.0,23,PHI,Philadelphia,East,Atlantic,Philadelphia 76ers,76ers
14,263,Kosta,7.0,0.0,Koufos,C,245.0,26,SAC,Sacramento,West,Pacific,Sacramento Kings,Kings
2571,39,Michael,6.0,9.0,Beasley,F,235.0,25,POR,Portland,West,Northwest,Portland Trail Blazers,Trail Blazers
2572,245,Wesley,6.0,7.0,Johnson,F-G,215.0,30,WAS,Washington,East,Southeast,Washington Wizards,Wizards
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3674,56,Isaac,6.0,8.0,Bonga,G,180.0,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors
3677,98,Gary,6.0,8.0,Clark,F,225.0,19,NOP,New Orleans,West,Southwest,New Orleans Pelicans,Pelicans
3679,166,Wenyen,6.0,9.0,Gabriel,F,205.0,13,LAC,LA,West,Pacific,LA Clippers,Clippers
3680,397,Duncan,6.0,8.0,Robinson,F,210.0,16,MIA,Miami,East,Southeast,Miami Heat,Heat
3719,467,John,6.0,4.0,Wall,G,210.0,11,HOU,Houston,West,Southwest,Houston Rockets,Rockets