In [24]:
import pandas as pd
import requests
import json

In [113]:
#lbj : 265
#durant : 153
#antetokounmpo : 20
#jokic : 279
# Irving: 261
# doncic : 144
# embiid: 159
# leaonard : 314

In [ ]:
nba_players = {265:'Lebron James',153:'Kevin Durant',20:'Giannis Antetokounmpo',279:'Nikola Jokic',261:'Kyrie Irving',
144:'Luka Doncic',159:'Joel Embiid',314:'Kawhi Leonard'}

In [114]:
def get_stats():
    import requests
    import json
    nba_players = {265:'Lebron James',153:'Kevin Durant',20:'Giannis Antetokounmpo',279:'Nikola Jokic',261:'Kyrie Irving',
144:'Luka Doncic',159:'Joel Embiid',314:'Kawhi Leonard'}
    lst = []
    for x in nba_players:
        url = "https://api-nba-v1.p.rapidapi.com/statistics/players/playerId/"+str(x)

        headers = {
            'x-rapidapi-host': "api-nba-v1.p.rapidapi.com",
            'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
            }

        response = requests.request("GET", url, headers=headers)
        content = json.loads(response.content)
        df = pd.DataFrame(content['api']['statistics'])
        lst.append(df)
    return pd.concat([*lst], ignore_index=True)

In [115]:
df = get_stats()

In [116]:
df

,gameId,teamId,points,pos,min,fgm,fga,fgp,ftm,fta,...,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,playerId
0,17,7,8,F,22:18,3,13,23.1,1,2,...,0,7,7,5,4,3,2,0,9,265
1,24,7,,,,,,,,,...,,,,,,,,,,265
2,44,7,14,F,25:43,6,15,40.0,0,0,...,0,0,0,3,1,3,4,0,-9,265
3,111,7,25,F,36:04,12,22,54.5,0,3,...,0,10,10,5,3,1,1,0,1,265
4,120,7,12,F,30:48,4,13,30.8,4,8,...,1,6,7,5,1,3,3,0,10,265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3499,9436,16,31,SF,34:18,9,19,47.4,10,13,...,2,5,7,3,3,2,2,1,14,314
3500,10805,16,,,,,,,,,...,,,,,,,,,,314
3501,10816,16,,,,,,,,,...,,,,,,,,,,314
3502,10823,16,,,,,,,,,...,,,,,,,,,,314
3503,10840,16,,,,,,,,,...,,,,,,,,,,314

In [68]:

"""def get_stats():
    url = "https://free-nba.p.rapidapi.com/players"
    nb = 1
    total = []
    while nb <= 38:
        headers = {
        'x-rapidapi-host': "free-nba.p.rapidapi.com",
        'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
        }
        querystring = {"page":str(nb),"per_page":"100"}
        response = requests.request("GET", url, headers=headers, params=querystring)
        content = json.loads(response.content)
        df = pd.DataFrame(content['data'])
        team = df['team'].to_list()
        df2 = pd.DataFrame(team)
        df2.rename(columns={'id':'team_id'},inplace=True)
        df = df.drop('team',axis=1)
        df3 = pd.concat([df,df2],join='outer',axis=1)
        total.append(df3)
        nb+=1

    return pd.concat([*total], ignore_index=True)
"""

In [ ]:
# find better api -->more stats