In [24]:
import pandas as pd
import requests
import json

In [29]:
""""url = "https://free-nba.p.rapidapi.com/players"
nb =1
querystring = {"page":str(nb),"per_page":"100"}

headers = {
    'x-rapidapi-host': "free-nba.p.rapidapi.com",
    'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
    }

response = requests.request("GET", url, headers=headers, params=querystring)
content = json.loads(response.content)

#print(content)
content['data']
df = pd.DataFrame(content['data'])""""

In [45]:
import requests

url = "https://api-nba-v1.p.rapidapi.com/statistics/players/playerId/1"

headers = {
    'x-rapidapi-host': "api-nba-v1.p.rapidapi.com",
    'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
    }

response = requests.request("GET", url, headers=headers)
content = json.loads(response.content)
df = pd.DataFrame(content['api']['statistics'])

In [46]:
df

,gameId,teamId,points,pos,min,fgm,fga,fgp,ftm,fta,...,offReb,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,playerId
0,1431,25,12,,25:04,4,5,80.0,0,0,...,1,0,1,0,3,0,0,0,-1,1
1,1444,25,6,,15:10,2,3,66.7,2,2,...,1,2,3,1,2,0,1,1,-7,1
2,1473,25,2,,13:51,1,7,14.3,0,0,...,1,0,1,0,4,0,0,0,-16,1
3,1483,25,19,,34:07,6,11,54.5,2,2,...,1,1,2,0,2,1,2,0,-12,1
4,1501,25,2,,10:23,1,2,50.0,0,0,...,1,1,2,1,1,0,0,0,-4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,5123,25,0,,0:00,0,0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,1
218,5137,25,3,,5:46,1,2,50.0,0,0,...,0,1,1,0,1,0,0,0,4,1
219,5158,25,0,,9:21,0,2,0.0,0,0,...,0,0,0,0,1,0,0,0,-8,1
220,5174,25,0,,0:00,0,0,0.0,0,0,...,0,0,0,0,0,0,0,0,0,1
221,5188,25,,,,,,,,,...,,,,,,,,,,1

In [65]:
import requests

url = "https://api-nba-v1.p.rapidapi.com/players/playerId/"+str(11)

headers = {
    'x-rapidapi-host': "api-nba-v1.p.rapidapi.com",
    'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
    }

response = requests.request("GET", url, headers=headers)

print(response.text)

{"message":"You have exceeded the rate limit per minute for your plan, BASIC, by the API provider"}

In [63]:
def get_stats():
    import requests
    import json
    player_id = []
    first_name = []
    last_name = []
    lst = []
    num = 1
    while num <= 575:
        url = "https://api-nba-v1.p.rapidapi.com/statistics/players/playerId/"+str(num)

        headers = {
            'x-rapidapi-host': "api-nba-v1.p.rapidapi.com",
            'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
            }

        response = requests.request("GET", url, headers=headers)
        content = json.loads(response.content)
        df = pd.DataFrame(content['api']['statistics'])
        lst.append(df)

        url2 = "https://api-nba-v1.p.rapidapi.com/players/playerId/"+str(num)
        response2 = requests.request("GET", url2, headers=headers)
        content2 = json.loads(response2.content)
        first_name.append(content['api']['players'][0]['firstName'])
        last_name.append(content2['api']['players'][0]['lastName'])
        player_id.append(content2['api']['players'][0]['playerId'])

        
        print(num)
        num+=1
    return pd.concat([*lst], ignore_index=True)

In [64]:
df = get_stats()

1
2
3
4
5
6
7
8
9
10

KeyError: 'api'

In [57]:
def get_name():
    player_id = []
    first_name = []
    last_name = []
    headers = {
            'x-rapidapi-host': "api-nba-v1.p.rapidapi.com",
            'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
            }
    num = 1
    while num <= 575: 
        url2 = "https://api-nba-v1.p.rapidapi.com/players/playerId/"+str(num)
        response2 = requests.request("GET", url2, headers=headers)
        content2 = json.loads(response2.content)
        first_name.append(content['api']['players'][0]['firstName'])
        last_name.append(content2['api']['players'][0]['lastName'])
        player_id.append(content2['api']['players'][0]['playerId'])
        num+=1
    df = pd.DataFrame(columns=('player_id','last_name','first_name'))
    df['player_id'], df['last_name'], df['first_name'] = player_id,first_name,last_name
    df['full_name'] = df['first_name'] + ' ' + df['last_name']
    df = df[['player_id','full_name']]
    return df

In [58]:
df_name = get_name()

KeyError: 'api'

In [49]:
df = pd.DataFrame(columns=('number','letter'))

In [55]:
nb = [1,2,3,4,5,6]
abc = ['a','s','d','l','p','l']
for x in range(len(nb)):
    df['number'], df['letter'] = nb,abc

In [56]:
df

   number letter
0       1      a
1       2      s
2       3      d
3       4      l
4       5      p
5       6      l

In [62]:
url = "https://api-nba-v1.p.rapidapi.com/players/playerId/10"

headers = {
    'x-rapidapi-host': "api-nba-v1.p.rapidapi.com",
    'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
    }

response = requests.request("GET", url, headers=headers)
content = json.loads(response.content)
print(content['api'])#['players'][0]['firstName']

{'status': 200, 'message': 'GET players/playerId/10', 'results': 1, 'filters': ['playerId', 'teamId', 'league', 'country', 'lastName', 'firstName'], 'players': [{'firstName': 'Lavoy', 'lastName': 'Allen', 'teamId': None, 'yearsPro': '0', 'collegeName': '', 'country': '', 'playerId': '10', 'dateOfBirth': '', 'affiliation': '', 'startNba': '0', 'heightInMeters': '', 'weightInKilograms': '', 'leagues': {'standard': {'jersey': '24', 'active': '0', 'pos': ''}}}]}

In [39]:
import requests

url = "https://api-nba-v1.p.rapidapi.com/players/lastName/zubac"

headers = {
    'x-rapidapi-host': "api-nba-v1.p.rapidapi.com",
    'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
    }

response = requests.request("GET", url, headers=headers)

print(response.text)

{"api":{"status":200,"message":"GET players\/lastName\/zubac","results":1,"filters":["playerId","teamId","league","country","lastName","firstName"],"players":[{"firstName":"Ivica","lastName":"Zubac","teamId":"16","yearsPro":"5","collegeName":"Mega Basket","country":"Croatia","playerId":"575","dateOfBirth":"1997-03-18","affiliation":"Mega Basket\/Croatia","startNba":"2016","heightInMeters":"2.13","weightInKilograms":"108.9","leagues":{"standard":{"jersey":"40","active":"1","pos":"C"}}}]}}

In [48]:
df = get_stats()

KeyError: 'api'

In [31]:
df

,gameId,teamId,points,pos,min,fgm,fga,fgp,ftm,fta,...,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,playerId,player_name
0,17,7,8,F,22:18,3,13,23.1,1,2,...,7,7,5,4,3,2,0,9,265,Lebron James
1,24,7,,,,,,,,,...,,,,,,,,,265,Lebron James
2,44,7,14,F,25:43,6,15,40.0,0,0,...,0,0,3,1,3,4,0,-9,265,Lebron James
3,111,7,25,F,36:04,12,22,54.5,0,3,...,10,10,5,3,1,1,0,1,265,Lebron James
4,120,7,12,F,30:48,4,13,30.8,4,8,...,6,7,5,1,3,3,0,10,265,Lebron James
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2198,10104,21,35,PF,32:12,12,18,66.7,9,12,...,15,16,10,4,2,4,0,25,20,Giannis Antetokounmpo
2199,10121,21,31,PF,35:36,11,21,52.4,9,13,...,9,10,7,2,1,3,0,-12,20,Giannis Antetokounmpo
2200,10148,21,31,PF,26:46,11,17,64.7,7,10,...,6,7,9,3,0,4,0,16,20,Giannis Antetokounmpo
2201,10157,21,43,PF,36:44,11,20,55.0,18,20,...,10,12,3,5,1,3,2,-13,20,Giannis Antetokounmpo
2202,10172,21,26,PF,35:00,10,18,55.6,5,8,...,12,13,8,2,1,6,1,6,20,Giannis Antetokounmpo

In [68]:

def get_stats():
    url = "https://free-nba.p.rapidapi.com/players"
    nb = 1
    total = []
    while nb <= 38:
        headers = {
        'x-rapidapi-host': "free-nba.p.rapidapi.com",
        'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
        }
        querystring = {"page":str(nb),"per_page":"100"}
        response = requests.request("GET", url, headers=headers, params=querystring)
        content = json.loads(response.content)
        df = pd.DataFrame(content['data'])
        team = df['team'].to_list()
        df2 = pd.DataFrame(team)
        df2.rename(columns={'id':'team_id'},inplace=True)
        df = df.drop('team',axis=1)
        df3 = pd.concat([df,df2],join='outer',axis=1)
        total.append(df3)
        nb+=1

    return pd.concat([*total], ignore_index=True)

In [70]:
all_data = get_stats()

In [72]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3754 entries, 0 to 3753
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3754 non-null   int64
 1   first_name     3754 non-null   object
 2   height_feet    479 non-null    float64
 3   height_inches  479 non-null    float64
 4   last_name      3754 non-null   object
 5   position       3754 non-null   object
 6   weight_pounds  479 non-null    float64
 7   team_id        3754 non-null   int64
 8   abbreviation   3754 non-null   object
 9   city           3754 non-null   object
 10  conference     3754 non-null   object
 11  division       3754 non-null   object
 12  full_name      3754 non-null   object
 13  name           3754 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 410.7+ KB

In [73]:
some_data = all_data.dropna().copy()

In [74]:
some_data

,id,first_name,height_feet,height_inches,last_name,position,weight_pounds,team_id,abbreviation,city,conference,division,full_name,name
6,1,Alex,6.0,6.0,Abrines,G,200.0,21,OKC,Oklahoma City,West,Northwest,Oklahoma City Thunder,Thunder
11,241,Amir,6.0,9.0,Johnson,C-F,240.0,23,PHI,Philadelphia,East,Atlantic,Philadelphia 76ers,76ers
14,263,Kosta,7.0,0.0,Koufos,C,245.0,26,SAC,Sacramento,West,Pacific,Sacramento Kings,Kings
2571,39,Michael,6.0,9.0,Beasley,F,235.0,25,POR,Portland,West,Northwest,Portland Trail Blazers,Trail Blazers
2572,245,Wesley,6.0,7.0,Johnson,F-G,215.0,30,WAS,Washington,East,Southeast,Washington Wizards,Wizards
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3674,56,Isaac,6.0,8.0,Bonga,G,180.0,28,TOR,Toronto,East,Atlantic,Toronto Raptors,Raptors
3677,98,Gary,6.0,8.0,Clark,F,225.0,19,NOP,New Orleans,West,Southwest,New Orleans Pelicans,Pelicans
3679,166,Wenyen,6.0,9.0,Gabriel,F,205.0,13,LAC,LA,West,Pacific,LA Clippers,Clippers
3680,397,Duncan,6.0,8.0,Robinson,F,210.0,16,MIA,Miami,East,Southeast,Miami Heat,Heat
3719,467,John,6.0,4.0,Wall,G,210.0,11,HOU,Houston,West,Southwest,Houston Rockets,Rockets

In [ ]:
# find better api -->more stats