In [2]:
import pandas as pd
import requests
import json

In [113]:
#lbj : 265
#durant : 153
#antetokounmpo : 20
#jokic : 279
# Irving: 261
# doncic : 144
# embiid: 159
# leaonard : 314

In [3]:
def get_stats():
    nba_players = {265:'Lebron James',153:'Kevin Durant',20:'Giannis Antetokounmpo',279:'Nikola Jokic',261:'Kyrie Irving',
144:'Luka Doncic',159:'Joel Embiid',314:'Kawhi Leonard'}
    lst = []
    for x in nba_players:
        url = "https://api-nba-v1.p.rapidapi.com/statistics/players/playerId/"+str(x)

        headers = {
            'x-rapidapi-host': "api-nba-v1.p.rapidapi.com",
            'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
            }

        response = requests.request("GET", url, headers=headers)
        content = json.loads(response.content)
        df = pd.DataFrame(content['api']['statistics'])
        lst.append(df)
        df['name'] = nba_players[x]
    return pd.concat([*lst], ignore_index=True)

In [4]:
df = get_stats()

In [6]:
df_lbj = df[df['name']=='Lebron James']

In [7]:
df_lbj

,gameId,teamId,points,pos,min,fgm,fga,fgp,ftm,fta,...,defReb,totReb,assists,pFouls,steals,turnovers,blocks,plusMinus,playerId,name
0,17,7,8,F,22:18,3,13,23.1,1,2,...,7,7,5,4,3,2,0,9,265,Lebron James
1,24,7,,,,,,,,,...,,,,,,,,,265,Lebron James
2,44,7,14,F,25:43,6,15,40.0,0,0,...,0,0,3,1,3,4,0,-9,265,Lebron James
3,111,7,25,F,36:04,12,22,54.5,0,3,...,10,10,5,3,1,1,0,1,265,Lebron James
4,120,7,12,F,30:48,4,13,30.8,4,8,...,6,7,5,1,3,3,0,10,265,Lebron James
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,10131,17,31,C,36:28,12,26,46.2,4,5,...,3,5,5,3,0,2,1,3,265,Lebron James
570,10154,17,32,C,36:30,13,24,54.2,5,5,...,7,8,9,4,4,4,3,4,265,Lebron James
571,10171,17,35,C,33:22,14,19,73.7,4,4,...,3,9,7,4,0,3,0,-30,265,Lebron James
572,10191,17,34,C,38:56,13,29,44.8,5,10,...,6,7,6,2,0,1,1,-12,265,Lebron James
573,10214,17,20,PF,24:20,8,18,44.4,2,2,...,6,7,2,0,0,0,1,-6,265,Lebron James

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504 entries, 0 to 3503
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gameId     3504 non-null   object
 1   teamId     3504 non-null   object
 2   points     3504 non-null   object
 3   pos        3504 non-null   object
 4   min        3504 non-null   object
 5   fgm        3504 non-null   object
 6   fga        3504 non-null   object
 7   fgp        3504 non-null   object
 8   ftm        3504 non-null   object
 9   fta        3504 non-null   object
 10  ftp        3504 non-null   object
 11  tpm        3504 non-null   object
 12  tpa        3504 non-null   object
 13  tpp        3504 non-null   object
 14  offReb     3504 non-null   object
 15  defReb     3504 non-null   object
 16  totReb     3504 non-null   object
 17  assists    3504 non-null   object
 18  pFouls     3504 non-null   object
 19  steals     3504 non-null   object
 20  turnovers  3504 non-null   object
 21  blocks     3504 non-null   object
 22  plusMinus  3504 non-null   object
 23  playerId   3504 non-null   object
 24  name       3504 non-null   object
dtypes: object(25)
memory usage: 684.5+ KB

In [68]:

"""def get_stats():
    url = "https://free-nba.p.rapidapi.com/players"
    nb = 1
    total = []
    while nb <= 38:
        headers = {
        'x-rapidapi-host': "free-nba.p.rapidapi.com",
        'x-rapidapi-key': "38930cb347msh0647b50209ab3bfp1bd38djsnfdc6e7ea537d"
        }
        querystring = {"page":str(nb),"per_page":"100"}
        response = requests.request("GET", url, headers=headers, params=querystring)
        content = json.loads(response.content)
        df = pd.DataFrame(content['data'])
        team = df['team'].to_list()
        df2 = pd.DataFrame(team)
        df2.rename(columns={'id':'team_id'},inplace=True)
        df = df.drop('team',axis=1)
        df3 = pd.concat([df,df2],join='outer',axis=1)
        total.append(df3)
        nb+=1

    return pd.concat([*total], ignore_index=True)
"""

In [ ]:
# find better api -->more stats